<!DOCTYPE html>
<html lang="en">
  <%- include ('header') %>

  <body class="flex flex-col min-h-screen">
    <%- include ('navbar') %>
<main class="flex-grow mb-20">
    <!-- Read-only page with the selected employee’s details -->
    <div class="text-center"">
      <h1 class="text-5xl md:text-7xl font-bold text-center">Employee Details</h1>
      <br />
      <h2 class="text-3xl font-light mb-10 text-center">
        <%= employee[0].lastName %>
      </h2>
      <div class="flex flex-col w-1/2 mx-auto h-full p-4 w-full md:w-3/5">
      <div class="rounded overflow-hidden border">
        <table class="w-full">
          <thead>
            <tr class="bg-gray-200">
              <th class="p-4 text-black-700 text-left">First Name</th>
              <th class="p-4 text-black-700 text-left">Last Name</th>
              <th class="p-4 text-black-700 text-left">Position</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="border py-1 hover:bg-gray-100">
              <td class="p-1 sm:p-4 text-left"><%= employee[0].firstName %></td>
              <td class="p-1 sm:p-4 text-left"><%= employee[0].lastName %></td>
              <td class="p-1 sm:p-4 text-left"><%= employee[0].position %></td>
                            <td class="px-4"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      <br /><br />
      <a href="/list"
        ><button
          class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >
          BACK
        </button></a
      >
    </div>
</main>
  </body>
  <%- include('footer') %> <%- include ('scripts') %>
</html>
