<!DOCTYPE html>
<html lang="en">
  <%- include ('header') %>

  <body>
    <%- include ('navbar') %>

    <!-- Read-only page with the selected employee’s details -->
    <div class="text-center"">
      <h1 class="text-5xl md:text-7xl font-bold text-center">Employee Details</h1>
      <br />
      <h2 class="text-3xl font-light mb-10 text-center">
        <%= employee[0].lastName %>
      </h2>

      <div class="mb-2">
        <label for="firstName"><b>First Name:</b></label>
        <input
          type="text"
          class="border py-1"
          id="firstName"
          readonly
          value="<%= employee[0].firstName %>"
        />
      </div>

      <div class="mb-2">
        <label for="firstName"><b>Last Name:</b></label>
        <input
          type="text"
          class="border py-1"
          id="lastName"
          readonly
          value="<%= employee[0].lastName %>"
        />
      </div>

      <div>
        <label for="position"><b>Position:</b></label>
        <input
          type="text"
          class="border py-1"
          id="position"
          readonly
          value="<%= employee[0].position %>"
        />
      </div>



      <br /><br />
      <a href="/list"
        ><button
          class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mb-80"
        >
          BACK
        </button></a
      >
    </div>
    <%- include('footer') %> <%- include ('scripts') %>
  </body>
</html>
