<!DOCTYPE html>
<html lang="en">
  <%- include ('header') %>

  <body>
    <%- include ('navbar') %>

    <!-- Read-only page with the selected employee’s details -->
    <div style="text-align: center">
      <h1 class="text-7xl font-bold" style="text-align: center">Manage</h1>
      <br />
      <p class="text-3xl font-light mb-20" style="text-align: center">
        View a specific employee's information from this page.
      </p>
      <h2 class="text-3xl font-light mb-10" style="text-align: center">
        <%= employee[0].lastName %>
      </h2>
      <div>
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input
            type="text"
            class="border py-1"
            id="firstName"
            readonly
            value="<%= employee[0].firstName %>"
          />
        </div>
      </div>
      <br /><br />
      <a href="/list">&larr; OK</a>
    </div>
    <%- include ('scripts') %>
  </body>
</html>
